<body>
  <nz-layout>
    <nz-header style='background-color: white;padding: 0;height: 100%;'>
      <app-nav-menu></app-nav-menu>
    </nz-header>
    <nz-layout>
      <nz-sider style='background: white'>
        <!-- 侧边导航栏 -->
        <ul nz-menu [nzMode]="'inline'" style="width: 100%;">
          <li nz-submenu [nzOpen]='true'>
            <span title><i nz-icon type="mail"></i>首页</span>
            <ul>
              <li nz-menu-item [routerLink]='["/"]'>
                <span title>表格</span>
              </li>
            </ul>
          </li>
          <li nz-submenu [nzOpen]='true'>
            <span title><i nz-icon type="appstore"></i>分类1</span>
            <ul>
              <li nz-menu-item [routerLink]='["/button"]'>按钮和头像</li>
              <li nz-menu-item [routerLink]='["/slider"]'>滑动条和微标树</li>
              <li nz-submenu [nzOpen]='true'>
                <span title>分类2</span>
                <ul>
                  <li nz-menu-item [routerLink]='["/KP"]'>卡片</li>
                  <li nz-menu-item [routerLink]='["/tabsAO"]'>tabs页及其它</li>
                  <li nz-submenu [nzOpen]='true'>
                    <span title>分类3</span>
                    <ul>
                      <li nz-menu-item [routerLink]='["/list"]'>列表</li>
                      <li nz-menu-item>Option 10</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu [nzOpen]='true'>
            <span title><i nz-icon type="setting"></i> Navigation Three</span>
            <ul>
              <li nz-menu-item>Option 11</li>
              <li nz-menu-item>Option 12</li>
              <li nz-menu-item>Option 13</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
      <nz-content style='background: white;overflow-y: hidden;
      overflow-x: hidden;padding: 20px;'>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
    <!-- <nz-footer>Footer</nz-footer> -->
  </nz-layout>
</body>
