<!-- 侧边导航栏 -->
<ul nz-menu [nzMode]="'inline'" style="width: 100%;min-height: 100vh;" [nzTheme]="'dark'">
  <li nz-submenu [nzOpen]='true'>
    <span title><i nz-icon type="mail"></i>首页</span>
    <ul>
      <li nz-menu-item [routerLink]='["/"]' nz-tooltip nzTitle="表格，锚点，进度条">
        <span title>表格</span>
      </li>
    </ul>
  </li>
  <li nz-submenu [nzOpen]='true'>
    <span title><i nz-icon type="appstore"></i>分类1</span>
    <ul>
      <li nz-menu-item [routerLink]='["/button"]' nz-tooltip nzTitle="按钮，头像，微标数，评分，搜索框，轮播图">按钮和头像</li>
      <li nz-menu-item [routerLink]='["/slider"]' nz-tooltip nzTitle="滑动条，开关，穿梭框，多选框">滑动条</li>
      <li nz-submenu [nzOpen]='true'>
        <span title>分类2</span>
        <ul>
          <li nz-menu-item [routerLink]='["/KP"]'>卡片</li>
          <li nz-menu-item [routerLink]='["/tabsAO"]' nz-tooltip nzTitle="标签页，表单，树状图，侧边栏">tabs页及其它</li>
          <li nz-submenu [nzOpen]='true'>
            <span title>分类3</span>
            <ul>
              <li nz-menu-item [routerLink]='["/list"]'>列表</li>
              <li nz-menu-item [routerLink]='["/articleSteps"]'>进度条</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu [nzOpen]='true'>
    <span title><i nz-icon type="setting"></i> Navigation Three</span>
    <ul>
      <li nz-menu-item>Option 11</li>
      <li nz-menu-item>Option 12</li>
      <li nz-menu-item>Option 13</li>
    </ul>
  </li>
</ul>
