<h3 [ngStyle]="{'margin-bottom.px': 16 }">间隔大</h3>
  <nz-list [nzDataSource]="data" nzBordered
           [nzHeader]="'头'" [nzFooter]="'尾'"
           [nzRenderItem]="item">
    <ng-template #item let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
  </nz-list>
  <h3 [ngStyle]="{'margin': '16px 0' }">间隔中</h3>
  <nz-list [nzDataSource]="data" nzBordered nzSize="small"
           [nzHeader]="'Header'" [nzFooter]="'Footer'"
           [nzRenderItem]="item">
    <ng-template #item let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
  </nz-list>
  <h3 [ngStyle]="{'margin': '16px 0' }">间隔小</h3>
  <nz-list [nzDataSource]="data" nzBordered nzSize="large"
           [nzHeader]="'Header'" [nzFooter]="'Footer'"
           [nzRenderItem]="item">
    <ng-template #item let-item><nz-list-item [nzContent]="item"></nz-list-item></ng-template>
  </nz-list>