<p>按钮</p>
<nz-radio-group [(ngModel)]="size">
  <label nz-radio-button nzValue="large">大</label>
  <label nz-radio-button nzValue="default">正常</label>
  <label nz-radio-button nzValue="small">迷你</label>
</nz-radio-group>
<br>
<button nz-button nzType="primary" [nzSize]="size" [nzLoading]='true'>加载中</button>
<button nz-button nzType="default" [nzSize]="size" (click)='ban()'>白底的按钮</button>
<button nz-button nzType="dashed" [nzSize]="size">虚线按钮</button>
<button nz-button nzType="danger" [nzSize]="size">危险</button>
<button nz-button nzType="primary" disabled="disabled" [nzSize]="size">已禁用</button>
<br>
<button nz-button nzType="primary" [nzSize]="size" nzShape="circle"><i nz-icon type="download"></i>
</button>
<button nz-button nzType="primary" [nzSize]="size"><i nz-icon type="download"></i>下载</button>
<br>
<nz-button-group [nzSize]="size">
  <button nz-button nzType="primary"><i nz-icon type="left"></i>上一页</button>
  <button nz-button nzType="primary">下一页<i nz-icon type="right"></i></button>
</nz-button-group>
<br>
<p>头像</p>
<nz-avatar nzIcon="user"></nz-avatar>
<nz-avatar nzText="U"></nz-avatar>
<nz-avatar nzText="USER"></nz-avatar>
<nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
<nz-avatar nzText="U" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
<nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>

<br>
<br>
<br>
<p>微表数</p>
<nz-badge [nzCount]="99" style="margin-right: 24px;">
  <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
</nz-badge>
<nz-badge nzDot>
  <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
</nz-badge>
<p>搜索框</p>
<nz-input-group [nzSuffix]="suffixIconSearch">
  <input type="text" nz-input placeholder="input search text">
</nz-input-group>
<ng-template #suffixIconSearch>
  <i nz-icon type="search"></i>
</ng-template>
<br>
<br>
<nz-input-group nzSearch [nzSuffix]="suffixIconButton">
  <input type="text" nz-input placeholder="input search text">
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon type="search"></i></button>
</ng-template>
<br>
<br>
<nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
  <input type="text" nz-input placeholder="input search text">
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
</ng-template>
<br>
<br>
<br>
<div style="margin-bottom: 16px;">
  <nz-input-group nzAddOnBefore="Http://" nzAddOnAfter=".com">
    <input type="text" nz-input [(ngModel)]="inputValue">
  </nz-input-group>
</div>
<div style="margin-bottom: 16px;">
  <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="addOnAfterTemplate">
    <input type="text" nz-input [(ngModel)]="inputValue">
  </nz-input-group>
  <ng-template #addOnBeforeTemplate>
    <nz-select [ngModel]="'Http://'">
      <nz-option [nzLabel]="'Http://'" [nzValue]="'Http://'"></nz-option>
      <nz-option [nzLabel]="'Https://'" [nzValue]="'Https://'"></nz-option>
    </nz-select>
  </ng-template>
  <ng-template #addOnAfterTemplate>
    <nz-select [ngModel]="'.com'">
      <nz-option [nzLabel]="'.com'" [nzValue]="'.com'"></nz-option>
      <nz-option [nzLabel]="'.jp'" [nzValue]="'.jp'"></nz-option>
      <nz-option [nzLabel]="'.cn'" [nzValue]="'.cn'"></nz-option>
      <nz-option [nzLabel]="'.org'" [nzValue]="'.org'"></nz-option>
    </nz-select>
  </ng-template>
</div>
<div style="margin-bottom: 16px;">
  <nz-input-group [nzAddOnAfter]="addOnAfterIconTemplate">
    <input type="text" nz-input [(ngModel)]="inputValue">
  </nz-input-group>
  <ng-template #addOnAfterIconTemplate>
    <i nz-icon type="setting"></i>
  </ng-template>
</div>
<br>
<br>
<p>切换</p>
<nz-carousel nzAutoPlay>
  <div nz-carousel-content *ngFor="let index of array">
    <h3>{{index}}</h3>
  </div>
</nz-carousel>