<nz-breadcrumb style="margin: 20px">
  <nz-breadcrumb-item id="home">
    <i nz-icon type="home"></i>
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-anchor style="position:absolute;right: 0">
  <nz-link nzHref="#home" nzTitle="面包屑"></nz-link>
  <nz-link nzHref="#kxiugai" nzTitle="可修改表格"></nz-link>
  <nz-link nzHref="#guidong" nzTitle="可滚动表格"></nz-link>
  <nz-link nzHref="#nz-link" nzTitle="nz-link"></nz-link>
</nz-anchor>

<nz-table #nestedTable [nzData]="JsonObj" [nzPageSize]="10">
  <thead>
    <tr>
      <th nzShowExpand></th>
      <th>省</th>
      <th>省</th>
      <th>省</th>
      <th>省</th>
      <th>省</th>
      <th>省</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="nestedTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.name }}</td>
        <td>
          <a
            style="color: red"
            nz-popconfirm
            nzTitle="你想删除?"
            (nzOnConfirm)="shanc(data)"
            (nzOnCancel)="cancel()"
            >删除</a
          >
        </td>
      </tr>
      <tr [nzExpand]="data.expand">
        <td></td>
        <td colspan="7">
          <nz-table
            #innerTable
            [nzData]="data.city"
            nzSize="middle"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <th>市</th>
                <th>市</th>
                <th>状态</th>
                <th>市</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of data.city">
                <td>{{ data.name }}</td>
                <td>{{ data.name }}</td>
                <td>
                  <nz-badge
                    [nzStatus]="'success'"
                    [nzText]="'已完成'"
                  ></nz-badge>
                </td>
                <td>{{ data.name }}</td>
                <td>
                  <span class="table-operation">
                    <nz-dropdown>
                      <a nz-dropdown class="operation">
                        操作 <i nz-icon type="down"></i>
                      </a>
                      <ul nz-menu>
                        <li nz-menu-item><a (click)="createMessage('success')">编辑</a></li>
                        <li nz-menu-item><a (click)="createMessage('error')">删除</a></li>
                      </ul>
                    </nz-dropdown>
                  </span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>

<nz-table #editRowTable nzBordered [nzData]="dataSet">
  <thead id="kxiugai">
    <tr>
      <th nzWidth="25%">Name</th>
      <th nzWidth="15%">Age</th>
      <th nzWidth="40%">Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            <ng-container *ngIf="!editCache[data.key].edit">
              {{ data.name }}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <input
                type="text"
                nz-input
                [(ngModel)]="editCache[data.key].data.name"
              />
            </ng-container>
          </div>
        </div>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{ data.age }}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.key].data.age"
          />
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{ data.address }}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input
            type="text"
            nz-input
            [(ngModel)]="editCache[data.key].data.address"
          />
        </ng-container>
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.key].edit">
            <a (click)="startEdit(data.key)">Edit</a>
          </ng-container>
          <ng-container *ngIf="editCache[data.key].edit">
            <a (click)="saveEdit(data.key)">Save</a>
            <nz-popconfirm
              [nzTitle]="'Sure to cancel?'"
              (nzOnConfirm)="cancelEdit(data.key)"
            >
              <a nz-popconfirm>Cancel</a>
            </nz-popconfirm>
          </ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-table
  nzFooter="我是尾"
  nzTitle="我是头"
  #nzTable
  nzBordered
  [nzData]="JsonObj"
  [nzPageSize]="50"
  [nzScroll]="{ y: '240px' }"
>
  <thead id="guidong">
    <tr>
      <th nzWidth="150px">Name</th>
      <th nzWidth="150px">Age</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.name }}</td>
    </tr>
  </tbody>
</nz-table>
